<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <style>
            input {display: block;}
        </style>
    </head>
    <body>
        Username:
        <form id="username">
            <textarea></textarea>
            <input type="button" value="Ok">
        </form>
        Для ввода используйте только [a-zA-Z0-9]
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $(function(){
                $("#username input").click(function() {
                    if ($("textarea").val()) {
                        if (!$("textarea").val().match(/[a-zA-Z0-9]/i)) {
                            $("textarea").val("");
                            return;
                        }
                        document.cookie = "username=" + $("textarea").val() + ";";
                        window.location.href = "/";
                        return;
                    }
                })
            });
        </script>
    </body>
</html>