<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <style>
            ul {list-style: none;}
            input {display: block;}
        </style>
    </head>
    <body>
        <audio id="chatAudio">
            <source src="notify" type="audio/ogg">
        </audio>
        <ul id="messages"></ul>
        <form id="chatbox">
            <textarea></textarea>
            <input type="submit" value="Send">
        </form>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $(function() {
                var cookies = null;
                var localStorage = null;
                var msgBox = $("#chatbox textarea")
                var messages = $("#messages")
                enterPushed = new KeyboardEvent("")
                $("#chatbox").submit(function() {
                    if (!msgBox.val()) return false 
                    if (!socket) {
                        alert("socket is not valid!");
                        return false;
                    }
                    socket.send(msgBox.val());
                    msgBox.val("");
                    return false;
                });
                $(document).on('keypress',function(e) {
                    if(e.which == 13) {
                        if (!msgBox.val()) return false 
                        if (!socket) {
                            alert("socket is not valid!");
                            return false;
                        }
                        socket.send(msgBox.val());
                        msgBox.val("");
                        return false;
                    }
                });


                if (!window["WebSocket"]) {
                    alert("Error: Browser does not support WebSocket")
                } else {
                    if (!document.cookie) {
                        window.location.replace("/login")
                        return
                    }
                    socket = new WebSocket("ws://{{ .Host }}/room");

                    socket.onclose = function() {
                        alert("connection has been closed");
                    }

                    socket.onmessage = function(e){
                        $('#chatAudio')[0].play();
                        messages.append($("<li>").text(e.data));
                    }
                }
                console.log(document.cookie)

            });
        </script>
    </body>
</html>